.image{
  height:60em; background-size:cover; width:100%;
  background-image:url('https://envato-shoebox-0.imgix.net/89f6/bc29-b8ba-4ffc-b4e9-0996bf27e504/DSC_7984+copy.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=61a2d683de89845c52fd4f9c58594cea');
  background-position:50% 50%;
}
